body {
	font-family: "Montserrat";
	font-size: 16px;
	letter-spacing: 0.5px;
	margin: 0;
	background-color: #343434;
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 300;
	margin: 0;
}

h3 {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0;
}

p {
	font-size: 1.2rem;
	line-height: 1.75rem;
	font-weight: 300;
	/*color: #6d7993;*/
}

.textbox {
	width: 60%;
}

.email-address-field {
	display: flex;
	width: 50%;
	margin: auto;
}

.email {
	font-family: "Montserrat";
	width: 75%;
	border-radius: 2rem;
	padding: 0.5rem 1.5rem;
	font-size: 1.2rem;
	height: 2rem;
	resize: none;
	line-height: 2rem;
	margin-right: 1rem;
	outline: none;
	border: none;
	color: #b40068;
}

.stretch {
	width: 100%;
}

.button {
	font-family: "Montserrat";
	font-size: 1rem;
	font-weight: 500;
	width: 9rem;
	border-radius: 3rem;
	color: #b40068;
	background-color: white;
	border: none;
	height: 3rem;
	outline: none;
	margin-top: 1rem;
	-webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.button:hover {
	cursor: pointer;
	background-color: #980058;
	color: white;
	border: 2px solid transparent;
	-webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
}

button {
	font-family: "Montserrat";
	font-size: 1rem;
	font-weight: 500;
	width: 9rem;
	border-radius: 3rem;
	color: #b40068;
	background-color: white;
	border: none;
	height: 3rem;
	outline: none;
	-webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
}

button:hover {
	cursor: pointer;
	background-color: #980058;
	color: white;
	border: 2px solid transparent;
	-webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.page-section {
	height: 100vh;
}

.page-section-content {
	padding: 13% 10%;
}

.logo {
	height: 5rem;
	width: 5rem;
	margin: 1rem 0 0 2rem;
}

.input-group {
	margin-top: 2rem;
}

#section-1 {
	color: white;
	background-image: url("../img/section-1.jpeg");
	background-size: cover;
	background-position: right;
}

#section-2 {
	color: white;
	background-image: url("../img/section-2.jpeg");
	background-size: cover;
	background-position: top;
}

#section-3 {
	background-image: url("../img/section-3.jpeg");
	background-size: cover;
	background-position: right;
}

#section-4 {
	color: white;
	background-image: url("../img/section-4.jpeg");
	background-size: cover;
	background-position: left;
}

#section-5 {
	color: white;
	background-image: url("../img/section-5.jpeg");
	background-size: cover;
	background-position: center;
}

#section-2 .textbox,
#section-4 .textbox {
	text-align: right;
	margin-left: auto;
}

#section-5 {
	text-align: center;
}

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
}

footer {
	text-align: center;
	color: white;
}

@media only screen and (max-width: 1100px) {
	.page-section-content {
		padding: 10% 5%;
	}

	#section-1 .textbox {
		width: 50%;
	}

	#section-2 .textbox {
		text-align: center;
		width: 80%;
		margin: auto;
	}

	#section-3 .textbox {
		width: 55%;
	}

	#section-4 .textbox {
		width: 50%;
	}

	.email-address-field {
		width: 70%;
	}
}

@media screen and (max-width: 900px) {
	.page-section-content {
		padding: 10% 5%;
	}

	#section-1 .textbox,
	#section-2 .textbox,
	#section-3 .textbox,
	#section-4 .textbox,
	#section-5 .textbox {
		text-align: center;
		width: 100%;
	}

	#section-1,
	#section-3 {
		background-position: left;
	}
}